<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.pool_java.dao.ClassDao">
	<select id="selectBytoMonth" resultType="Class" parameterType="String">
		select * from class where s_day =#{s_day} order by time asc;
	</select>
	<select id="selectByNextMonth" resultType="Class" parameterType="String">
		select * from class where s_day = #{s_day} order by time asc;
	</select>
	<select id="selectByNo" resultType="Class" parameterType="int">
		select * from class where cno = #{cno}
	</select>
	<insert id="insertClass" parameterType="Class">
		insert into class(classmate,time,level,pay,tno,s_day) values(#{classmate},#{time},#{level},50000,#{tno},#{s_day})
	</insert>
	<delete id="deleteClass" parameterType="Class">
		delete from class where cno = #{cno}
	</delete>
	<update id="updateClass" parameterType="Class">
		update class set classmate = #{classmate}, tno = #{tno} where cno = #{cno}
	</update>
	<update id="updateClassInfo" parameterType="Class">
		update class set classmate = #{classmate}, tno = #{tno}, time = #{time}, level = #{level}, reclass = #{reclass}
		where cno = #{cno}
	</update>

	<select id="selectByTno" resultType="Class" parameterType="Class">
		select * from class  where tno in (select tno from teacher where name like #{level}) and s_day = #{time} order by time asc;
	</select>
	<select id="selectByLevel" resultType="Class" parameterType="Class">
		select * from class  where level like #{level} and s_day =#{time} order by time asc;
	</select>
	
	<select id="selectByTime" resultType="Class" parameterType="String">
		select * from class  where s_day =#{time} order by time asc;
	</select>

	<select id="selectByreclass" resultType="Class" parameterType="Boolean">
		select * from class where reclass = #{reclass}
	</select>
	<update id="updateReclass" parameterType="Class">
		update class set reclass = false where cno = #{cno}
	</update>
</mapper>