<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.pool_java.dao.MemberDao">

	<select id="selectAll" resultType="Member">
		select * from member
	</select>
	
	<select id="selectMno"  resultType="Member">
		select * from member where mno=#{mno}
	</select>
	
	<insert id="insertMember" parameterType="Member">
		insert into member(name,age,tell,email,gender,pw) values(#{name}, #{age}, #{tell}, #{email}, #{gender},password(#{pw}))
	</insert>
	
	<delete id="deleteMember"  parameterType="int">
		delete from member where mno = #{mno}
	</delete>
	
	<update id="updateMember" parameterType="Member">
		update member set name=#{name},age=#{age},tell=#{tell},email=#{email} where mno = #{mno}  
	</update>

</mapper>